[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
character-set-server = utf8
collation-server     = utf8_bin
skip-character-set-client-handshake
innodb_file_per_table
general_log=ON
general_log_file=/var/lib/mysql/log/query.log
slow_query_log=ON
slow_query_log_file=/var/lib/mysql/log/slow_query.log
long_query_time=10
log_queries_not_using_indexes=ON
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
server-id={{ DBserver_id }}
log-bin=/var/lib/mysql/log/bin/bin-log
auto_increment_increment=2
auto_increment_offset=1# instructions in http://fedoraproject.org/wiki/Systemd
replicate-ignore-table=zabbix.history
replicate-ignore-table=zabbix.history_uint
replicate-ignore-table=zabbix.history_str
replicate-ignore-table=zabbix.item_discovery
replicate-ignore-table=zabbix.sessions
replicate-ignore-table=zabbix.trends
replicate-ignore-table=zabbix.trends_uint
#X#replicate-ignore-table=zabbix.media_type
replicate-ignore-table=zabbix.auditlog,zabbix.ids
binlog_format=row


[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d
